[Unit]
Description=Production api server
After=network.target

[Service]
User=pool
ExecStart=/home/pool/actions-runner-api/_work/SickPoolAPI/SickPoolAPI/target/release/api
Restart=always
StandardOutput=append:/home/pool/logs/api.log
StandardError=append:/home/pool/logs/api_error.log

[Install]
WantedBy=multi-user.target