[Unit]
Description=Production pool server
After=network.target

[Service]
User=pool
WorkingDirectory=/home/pool/stratum
ExecStart=/home/pool/stratum/SickPool /home/pool/ZANO.json
Restart=always
StandardOutput=append:/home/pool/log/pool.log
StandardError=append:/home/pool/log/pool_error.log
LimitCORE=infinity

[Install]
WantedBy=multi-user.target