[Unit]
Description=Production api server
After=network.target

[Service]
User=pool
ExecStart=/home/pool/api/api /home/pool/ZANO.json
Restart=always
StandardOutput=append:/home/pool/log/api.log
StandardError=append:/home/pool/log/api_error.log

[Install]
WantedBy=multi-user.target