[Unit]
Description=Production pool server
After=network.target

[Service]
User=pool
ExecStart=/home/pool/actions-runner-server/_work/SickPool/SickPool/build/SickPool
Restart=always

[Install]
WantedBy=multi-user.target