[Unit]
Description=Production api server
After=network.target

[Service]
User=pool
ExecStart=/home/pool/actions-runner-api/_work/SickPoolAPI/SickPoolAPI/target/release/api
Restart=always

[Install]
WantedBy=multi-user.target